{% extends "base.html" %}

{% block content %}
    <div class="container detalle-container" data-aos="zoom-in">
        <div class="detalle-img">
            <img src="{{ url_for('static', filename='img/' + plato.foto) }}" alt="{{ plato.nombre }}">
        </div>

        <div class="detalle-info">
            <h1>{{ plato.nombre }}</h1>
            <p class="precio-grande">${{ "%.2f"|format(plato.precio) }}</p>
            
            <p class="descripcion">{{ plato.descripcion }}</p>

            <h3>Ingredientes:</h3>
            <ul class="lista-ingredientes">
                {% for ing in plato.ingredientes %}
                    <li><i class="fa-solid fa-check" style="color:#25d366;"></i> {{ ing }}</li>
                {% endfor %}
            </ul>

            <div class="botones-accion">
                <button onclick="abrirModal('{{ plato.nombre }}', '{{ plato.precio }}')" class="btn-comprar btn-grande" style="border:none; cursor:pointer;">
                    Ordenar ahora <i class="fa-solid fa-cart-shopping"></i>
                </button>
                
                <a href="/" class="btn-volver">Volver al menú</a>
            </div>
        </div>
    </div>
{% endblock %}